Repository 5733d9e2be6485d52ffa08870cabdee0/sandbox, pull requests merged in 2022-07, with the labels that each got.

#902 MGDOBR-914: Unable to list Processors for a FAILED Bridge
  manager/src/main/java/com/redhat/service/smartevents/manager/ProcessorServiceImpl.java
  manager/src/test/java/com/redhat/service/smartevents/manager/ProcessorServiceTest.java
Labels: safe to test

#894 MGDOBR-897: Public API to return ErrorsResponse
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ErrorsResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/exceptions/mappers/ConstraintViolationExceptionMapper.java
  infra/src/main/java/com/redhat/service/smartevents/infra/exceptions/mappers/ExternalUserExceptionMapper.java
  infra/src/main/java/com/redhat/service/smartevents/infra/exceptions/mappers/InternalPlatformExceptionMapper.java
  infra/src/main/resources/exception/exceptionInfo.json
  infra/src/test/java/com/redhat/service/smartevents/infra/exceptions/mappers/ConstraintViolationExceptionMapperTest.java
  infra/src/test/java/com/redhat/service/smartevents/infra/exceptions/mappers/ExternalUserExceptionMapperTest.java
  infra/src/test/java/com/redhat/service/smartevents/infra/exceptions/mappers/InternalPlatformExceptionMapperTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/BridgesAPITest.java
Labels: safe to test

#908 MGDOBR-915: use datetime in UTC
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/SlackResource.java
  manager/src/main/java/com/redhat/service/smartevents/manager/BridgesServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/ProcessorServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/connectors/ConnectorsServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dao/WorkDAO.java
  manager/src/main/java/com/redhat/service/smartevents/manager/metrics/MetricsServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Work.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/WorkManagerImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/resources/AbstractWorker.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/BridgeDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/ProcessorDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/metrics/MetricsServiceImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/utils/Fixtures.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/AbstractWorkerTest.java
Labels: safe to test

#912 MGDOBR-854: API Root Context Path should be /api/smartevents_mgmt/v1
  ACTIONS.md
  DEMO.md
  FILTERS.md
  SOURCES.md
  TRANSFORMATIONS.md
  app-interface/dashboards/grafana-dashboard-rhose-fleet-manager.configmap.yaml
  dev/bin/interaction/create-action.sh
  dev/bin/interaction/create-bridge.sh
  dev/bin/interaction/create-source.sh
  dev/bin/interaction/delete-current-bridge.sh
  dev/bin/interaction/delete-current-processor.sh
  dev/bin/interaction/delete-test-resources.sh
  dev/bin/interaction/get-all-bridges.sh
  dev/bin/interaction/get-all-processors.sh
  dev/bin/interaction/get-current-bridge.sh
  dev/bin/interaction/get-current-processor.sh
  dev/bin/interaction/send-cloud-event.sh
  dev/docker-compose/grafana/provisioning/dashboards/fleet-manager-dashboard.json
  dev/utils/generate_traffic.py
  infra/src/main/java/com/redhat/service/smartevents/infra/api/APIConstants.java
  kustomize/base-openshift/observability/grafana/grafana-dashboard-manager.yaml
  openapi/rhose-api.yaml
  use-cases/ansible-tower-integration/README.md
Labels: safe to test

#914 [MGDOBR-232] - Set CPU/Memory Limit and Requests for Fleet Manager De…
  app-interface/manifests/rhose-fleet-manager.yml
  kustomize/base/manager/resources/deploy.yaml
Labels: safe to test

#923 [MGDOBR-924] Raise failureThreshold to 10 for minikube environment
  kustomize/overlays/minikube/manager/kustomization.yaml
  kustomize/overlays/minikube/manager/patches/deploy.yaml
  manager/pom.xml
Labels: safe to test

#925 Rename rhose-api as smartevents_mgmt
  .github/workflows/CI.yaml
  .github/workflows/openapi_update.yaml
  .github/workflows/openapi_validate.yaml
  openapi/smartevents_mgmt.yaml
Labels: safe to test

#926 [NO-JIRA] update number of replicas to 1
  app-interface/manifests/rhose-fleet-manager.yml
Labels: safe to test

#933 MGDOBR-933: migrate from mas-sso
  dev/bin/manager-run.sh
  kustomize/overlays/dev/secrets/event-bridge-manager-secrets.yaml
  kustomize/overlays/minikube/manager/kustomization.yaml
  kustomize/overlays/stable/secrets/event-bridge-manager-secrets.yaml
  pom.xml
Labels: safe to test

#938 [NO-JIRA] - Increasing fleet manager resources
  app-interface/manifests/rhose-fleet-manager.yml
Labels: safe to test

#937 [MGDOBR-934] Add failFastFaillureReason in case of Awaitility failFast conditions
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/BridgeSteps.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/ProcessorSteps.java
Labels: safe to test

#928 MGDOBR-652: Make Managed Connector Configuration Property Names Consistent
  .github/workflows/Manager-CI.yaml
  app-interface/manifests/rhose-fleet-manager.yml
  dev/bin/configure.sh
  dev/bin/interaction/delete-managed-connectors.sh
  kustomize/overlays/dev/secrets/event-bridge-manager-secrets.yaml
  kustomize/overlays/minikube/manager/kustomization.yaml
  kustomize/overlays/stable/secrets/event-bridge-manager-secrets.yaml
  manager/src/main/resources/application.properties
Labels: safe to test

#949 MGDOBR-940: let the operator run even if it is broken
  shard-operator/src/main/java/com/redhat/service/smartevents/shard/operator/providers/IstioGatewayProviderImpl.java
Labels: safe to test

#943 [MGDOBR-236] Add perf scenario for creating multiple Bridges at once
  integration-tests/pom.xml
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/resolver/ContextResolver.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/PerformanceSteps.java
  integration-tests/src/test/resources/performance-features/create-bridges-at-once.feature
Labels: safe to test

#960 [NO JIRA] Logs WebHook.site request failures
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/webhook/site/WebhookSiteResource.java
Labels: safe to test

#920 MGDOBR-750: Manager is not able to process batch of new Bridges
  manager/pom.xml
  manager/src/main/java/com/redhat/service/smartevents/manager/connectors/ConnectorsServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dao/WorkDAO.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Work.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/Work.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/WorkManager.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/WorkManagerImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/Worker.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/quartz/QuartzWorkConvertor.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/quartz/QuartzWorkManagerImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/quartz/WorkJob.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/resources/AbstractWorker.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/resources/BridgeWorker.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/resources/ConnectorWorker.java
  manager/src/main/java/com/redhat/service/smartevents/manager/workers/resources/ProcessorWorker.java
  manager/src/main/resources/application.properties
  manager/src/main/resources/db/migration/0.1/V0.1.16__add_quartz_scheduler.sql
  manager/src/main/resources/db/migration/0.1/V0.1.17__delete_work.sql
  manager/src/test/java/com/redhat/service/smartevents/manager/BridgesServiceTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/ProcessorServiceConnectorTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/WorkerSchedulerProfile.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncSegmentationAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/BridgesAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/ProcessorAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/utils/DatabaseManagerUtils.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/WorkManagerImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/quartz/QuartzWorkConvertorTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/quartz/QuartzWorkManagerImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/quartz/WorkJobTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/AbstractWorkerTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/BridgeWorkerTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/ConnectorWorkerTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/ProcessorWorkerTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/workers/resources/WorkerTestUtils.java
  manager/src/test/resources/application.properties
Labels: safe to test, on hold

#957 MGDOBR-683: [UI] Generated TS SDK from OpenApi spec - wrongfully optional properties
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/BaseResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ErrorResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ListResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/PagedListResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/BaseManagedResourceResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/CloudProviderResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/CloudRegionResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/ProcessorCatalogResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/ProcessorResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/ProcessorSchemaEntryResponse.java
  openapi/smartevents_mgmt.yaml
Labels: safe to test

#966 MGDOBR-962: remove regex from aws_queue_name_or_arn in AWS SQS source
  processor/configuration/src/main/resources/schemas/sources/aws_sqs_source_0.1.json
  processor/configuration/src/test/java/com/redhat/service/smartevents/processor/validators/DefaultGatewayValidatorTest.java
Labels: safe to test

#946 MGDOBR-441: Shard may never delete resources if it crashes after sending DELETING status call
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Bridge.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Processor.java
  manager/src/test/java/com/redhat/service/smartevents/manager/BridgesServiceTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/BridgeDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/ProcessorDAOTest.java
  shard-operator/src/main/java/com/redhat/service/smartevents/shard/operator/ManagerSyncServiceImpl.java
  shard-operator/src/test/java/com/redhat/service/smartevents/shard/operator/ManagerSyncServiceMockedTest.java
Labels: safe to test

#956 MGDOBR-306 - Implement ittest for KafkaTopicAction
  .github/workflows/Manager-CI.yaml
  .github/workflows/dev-cluster-check.yml
  .github/workflows/stable-cluster-check.yml
  integration-tests/pom.xml
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/TestContext.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/resolver/ContextResolver.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/resolver/KafkaTopicResolver.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/kafka/KafkaConnectionParameters.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/kafka/KafkaResource.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/Hooks.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/KafkaSteps.java
  integration-tests/src/test/resources/features/action-kafka.feature
Labels: safe to test

#976 [MGDOBR-627] - Add observedGeneration to the status of SmartEvent cus…
  shard-operator/src/main/java/com/redhat/service/smartevents/shard/operator/resources/CustomResourceStatus.java
Labels: safe to test

#861 MGDOBR-843 Fix spectral lint errors for rhose-api.yaml
  .github/workflows/openapi_validate.yaml
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/BaseResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ErrorResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ErrorsResponse.java
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/PagedListResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/BridgesAPI.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/CloudProviderAPI.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/ErrorsAPI.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/ProcessorsAPI.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/SchemaAPI.java
  manager/src/main/resources/application.properties
  openapi/smartevents_mgmt.yaml
Labels: safe to test

#973 [MGDOBR-965] - Provide fixed resource/verb in RBAC
  kustomize/base-openshift/shard/cluster-role.yaml
  shard-operator/src/main/kubernetes/minikube.yml
  shard-operator/src/main/kubernetes/openshift.yml
Labels: safe to test

#881 MGDOBR-780 Extend BridgeInstance error handling strategy to support K…
  dev/bin/interaction/create-action.sh
  dev/bin/interaction/create-bridge.sh
  dev/bin/interaction/environment-example
  dev/bin/interaction/kcat-error.sh
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/BaseGatewayConstraintValidator.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/ErrorHandlerConstraintValidator.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/validators/processors/ErrorHandlerConstraintValidatorTest.java
Labels: safe to test

#983 MGDOBR-306 - Prepare GH actions parameters for Kafka E2E test
  .github/workflows/Manager-CI.yaml
  .github/workflows/dev-cluster-check.yml
  .github/workflows/stable-cluster-check.yml
Labels: safe to test

#980 MGDOBR-969: remove shard type
  manager/src/main/java/com/redhat/service/smartevents/manager/ShardServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dao/ShardDAO.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Shard.java
  manager/src/main/resources/db/migration/0.1/V0.1.19__remove_shard_type.sql
  manager/src/test/java/com/redhat/service/smartevents/manager/ShardServiceTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/ShardDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/utils/DatabaseManagerUtils.java
Labels: safe to test

#954 MGDOBR-952: add router canonical hostname to shard table
  kustomize/overlays/dev/secrets/event-bridge-manager-secrets.yaml
  kustomize/overlays/minikube/manager/patches/deploy-config.yaml
  kustomize/overlays/stable/secrets/event-bridge-manager-secrets.yaml
  manager/src/main/java/com/redhat/service/smartevents/manager/BridgesServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/ProcessorServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/ShardService.java
  manager/src/main/java/com/redhat/service/smartevents/manager/ShardServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Shard.java
  manager/src/main/resources/application.properties
  manager/src/main/resources/db/migration/0.1/V0.1.18__add_shard_router_hostname.sql
  manager/src/test/java/com/redhat/service/smartevents/manager/ShardServiceTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/TestConstants.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncSegmentationAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/utils/DatabaseManagerUtils.java
  manager/src/test/resources/application.properties
Labels: safe to test

#886 MGDOBR-895: Bump quarkus and other dependencies
  build-parent/pom.xml
Labels: safe to test

#425 MGDOBR-233: deploy 2 manager replicas
  kustomize/base/manager/resources/deploy.yaml
Labels: on hold

#992 [MGDOBR-952] - add SHARD_ROUTER_CANONICAL_HOSTNAME to OCP Template
  app-interface/manifests/rhose-fleet-manager.yml
Labels: safe to test

#971 MGDOBR-949: add DnsService
  .github/workflows/Manager-CI.yaml
  build-parent/pom.xml
  dev/bin/manager-run.sh
  kustomize/base-openshift/manager/patches/deploy-config.yaml
  kustomize/overlays/dev/secrets/event-bridge-manager-secrets.yaml
  kustomize/overlays/minikube/manager/patches/deploy-config.yaml
  kustomize/overlays/stable/secrets/event-bridge-manager-secrets.yaml
  manager/pom.xml
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/DnsService.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/kubernetes/DnsServiceKindImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/kubernetes/DnsServiceMinikubeImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/openshift/DnsConfigOpenshiftProvider.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/openshift/DnsConfigOpenshiftProviderImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/dns/openshift/DnsServiceOpenshiftImpl.java
  manager/src/main/resources/application.properties
  manager/src/test/java/com/redhat/service/smartevents/manager/dns/kubernetes/DnsServiceKindImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dns/kubernetes/DnsServiceMinikubeImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dns/openshift/DnsConfigOpenshiftProviderImplTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dns/openshift/DnsServiceOpenshiftImplTest.java
  manager/src/test/resources/application.properties
Labels: safe to test

#985 MGDOBR-306 - Implement ittest for KafkaTopicAction
  integration-tests/pom.xml
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/TestContext.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/resolver/ContextResolver.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/context/resolver/KafkaTopicResolver.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/kafka/KafkaConnectionParameters.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/kafka/KafkaResource.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/Hooks.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/KafkaSteps.java
  integration-tests/src/test/resources/features/action-kafka.feature
Labels: safe to test

#899 [MGDOBR-809] Add Cloud Provider and Region field to request to create a Bridge
  DEMO.md
  dev/bin/interaction/create-bridge.sh
  infra/src/main/java/com/redhat/service/smartevents/infra/exceptions/definitions/user/InvalidCloudProviderException.java
  infra/src/main/java/com/redhat/service/smartevents/infra/exceptions/definitions/user/InvalidRegionException.java
  infra/src/main/resources/exception/exceptionInfo.json
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/resources/BridgeResource.java
  integration-tests/src/test/java/com/redhat/service/smartevents/integration/tests/steps/BridgeSteps.java
  integration-tests/src/test/resources/features/action-sendtobridge.feature
  integration-tests/src/test/resources/features/action-slack.feature
  integration-tests/src/test/resources/features/action-webhook.feature
  integration-tests/src/test/resources/features/bridge.feature
  integration-tests/src/test/resources/features/error-handling.feature
  integration-tests/src/test/resources/features/ingress.feature
  integration-tests/src/test/resources/features/processor-filter.feature
  integration-tests/src/test/resources/features/processor-template.feature
  integration-tests/src/test/resources/features/processor.feature
  integration-tests/src/test/resources/features/source-slack.feature
  manager/src/main/java/com/redhat/service/smartevents/manager/BridgesServiceImpl.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/requests/BridgeRequest.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/models/responses/BridgeResponse.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/CloudProviderAPI.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/BaseConstraintValidator.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/BaseGatewayConstraintValidator.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/CloudProviderConstraintValidator.java
  manager/src/main/java/com/redhat/service/smartevents/manager/api/user/validators/processors/ValidCloudProvider.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/Bridge.java
  manager/src/main/java/com/redhat/service/smartevents/manager/models/CloudProvider.java
  manager/src/main/resources/db/migration/0.1/V0.1.20__add_cloud_provider_and_region_to_bridge.sql
  manager/src/test/java/com/redhat/service/smartevents/manager/BridgesServiceTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/TestConstants.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/internal/ShardBridgesSyncSegmentationAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/BridgesAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/CloudProviderAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/ProcessorAPITest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/validators/processors/CloudProviderConstraintValidatorTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/api/user/validators/processors/ErrorHandlerConstraintValidatorTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/config/ConfigurationLoaderTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/BridgeDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/CloudProviderDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/dao/ProcessorDAOTest.java
  manager/src/test/java/com/redhat/service/smartevents/manager/utils/Fixtures.java
  manager/src/test/resources/cloud_providers.json
  openapi/smartevents_mgmt.yaml
Labels: safe to test

#1001 [NO JIRA] Fix wrong step in Kafka action test
  integration-tests/src/test/resources/features/action-kafka.feature
Labels: safe to test

#1002 [NOJIRA] Fix operator CI
  .github/workflows/Operator-CI.yaml
Labels: safe to test

#999 MGDOBR-935: smartevents_mgmt.yaml spectral lint validation
  infra/src/main/java/com/redhat/service/smartevents/infra/api/models/responses/ErrorResponse.java
  openapi/smartevents_mgmt.yaml
Labels: safe to test
